@import url(http://fonts.googleapis.com/css?family=Roboto:100, 400);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

body {
  width:100%;
  height: 100%;
  position: relative;
  background: #fff;
  color: #222;
  margin: 0;
  font-family: 'Roboto' , sans-serif;
  background: url('http://a.images.blip.tv/Roysp-HipsterhoodS2E1HipstersWithHangovers625.jpg')fixed;
  background-size: cover;
}

p {
  font-size: 16px;
  color: #fff;
  padding-bottom: 10px;
}

h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  padding: 10px;
}

h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  padding: 12px 0;
}

h4 {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  padding: 12px 0;
}

a {
  text-decoration: none
}

.clear {
  clear: both;
  padding-top: 20px;
}

.clear2 {
  clear: both;
  padding-top: 40px;
}

.fixed-width {
  display: block;
  width: 920px;
  margin: 0 auto;
}

/* Header */
#header {
  width: 100%;
  background: #32526e;
  height: 46px;
  position: fixed;
  top:0;
  z-index: 1;
}

#top-menu {
  float: right;
  padding: 14px 16px;
}

#top-menu a {
  padding: 5px;
  font-size: 18px;
  color: #fff;
  text-decoration: none
}

#top-menu a:hover {
  color: #ff884d;
}

#logo {
  float: left;
  color: #fff;
  font-size: 24px;
  padding: 10px 15px;
}

#logo:hover {
  color: #ff884d;
}

#top-section {
  width: 100%;
  height: 800px;
  background: url('http://a.images.blip.tv/Roysp-HipsterhoodS2E1HipstersWithHangovers625.jpg');
  background-size: cover;
  display: block;
  position: relative;
}


#login-box {
  position: relative;
  width:700px;
  padding-top: 180px;
  margin-left: -350px;
  left: 50%;
}

.flat-form {
  background: #ff6b57;
  margin: 85px auto;
  width: 390px;
  height: 340px;
  position: relative;
  font-family: 'Roboto';

}

ul {
  list-style: none
}

.tabs {
  background: #e74c3c;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 20px;
  list-style: none
}
.tabs li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;

}
.tabs a {
  background: #e74c3c;
  display: block;
  float: left;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 12px 22px 12px 22px;
  /*border-right: 1px solid @tab-border;*/

}
.tabs li:last-child a {
  border-right: none;
  width: 174px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.tabs a.active {
  background: #ff6b57;
  border-right: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}

form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Roboto';
}

form input[type=text],
form input[type=password] {
  width: 40%; 
  height: 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #41c3ac;
  border: none;
  color: #fff;
  outline: none;
/*  border-bottom: 2px solid white;*/
}

select, option {
  width: 200px;
  font-size: 50px;
}

.dark-box {
  background: #5e0400;
  box-shadow: 1px 3px 3px #3d0100 inset;
  height: 40px;
  width: 50px;
}
.form-action .dark-box.bottom {
  position: absolute;
  right: 0;
  bottom: -24px;
}
.tabs + .dark-box.top {
  position: absolute;
  right: 0;
  top: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.button:hover {
  background: #1e75aa;
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.button:active {
  background: #136899;
  /*box-shadow: 0 3px 1px #0f608c;*/
}

::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Roboto' , sans-serif;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Roboto' , sans-serif;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Roboto' , sans-serif;
}
:-ms-input-placeholder {
  font-family: 'Roboto' , sans-serif;
}

.buttons {
  width: 900px;
  margin: 0 auto;
}

#home-btn {
  display: block;
  width: 50%;
  margin: 20px auto;
  padding: 20px 30px;
  background-color: #86E2D5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-radius: 3px;
  text-decoration: none;
}

#home-btn:hover {
  background: #ff6b57;
  color: #fff;
}

#post-btn {
  display: inline-block;
  margin: 20px 0;
  padding: 20px 30px;
  background-color: #b2dad7;
  border: none;
  color: #2d292d;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-radius: 3px;
  text-decoration: none
}

#post-btn:hover {
  background: #ff6b57;
  color: #fff;
}

.search-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 30px;
  background-color: #ff6b57;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-radius: 3px;
  text-decoration: none;
  float: right;
}

.search-btn:hover {
  background: #32526e;
  color: #fff;
}

#suggestion-btn {
  display: inline-block;
  margin: 20px 0;
  padding: 20px 30px;
  background-color: #2d292d;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-radius: 3px;
  text-decoration: none;
}

#suggestion-btn:hover {
  background: #b2dad7;
  color: #2d292d;
}

/*Inner Page*/
#inner-page {
  width: 100%;
  height: 800px;
  display: block;
  position: relative;
}

.app-wrapper {
  display: block;
  width: 620px;
  height: 830px;
  padding: 20px;
  margin: 100px auto;
  background: #41c3ac;
  border-radius: 8px
}

.form-label {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-top: 15px;
  padding: 12px 0;
}

#info-list {
  font-size: 40px;
}

#personality-list {
  font-size: 40px;
}

.date-wrapper {
  width: 900px;
  margin: 20px auto;
}

#interests-list {
  margin-top: 10px;
  padding-top: 10px;
  height: 300px; 
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden
}

#interests-list li {
  color: #32526e;
  font-size: 18px;
  padding: 4px;
}

input[type=checkbox] {
  font-size: 50px;
}

#search-result {  
  display: block;
  width: 920px;
  height: 755px;
  padding: 20px;
  margin: 50px auto;
  background: #E74C3C;
  border-radius: 8px
}

#results-wrapper {  
  display: block;
  width: 920px;
  height: 755px;
  padding: 20px;
  margin: 50px auto;
  background: #E74C3C;
  border-radius: 8px
}

#img-gallery {
  margin-top: 10px;
}

.one-third {
  width: 45%;
  float: left;
  padding: 20px 10px;
}

.one-third-last {
  width: 45%;
  float: right;
  padding: 20px 0;
}

/*select price*/
.price {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 25px;
  color: #fff;
  float: left;
  margin-top: 8px;
}
.price > span {
  display: inline-block;
  position: relative;
  width: 1.2em;
}
.price > span:hover:before,
.price > span:hover ~ span:before {
   content: "$";
   position: absolute;
   color: #E74C3C;
}

/*Rating*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 25px;
  color: #fff;
  float: right;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.2em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}



/*user form*/

.user-li {
  font-size: 24px;
  color: #fff;
  line-height: 30px;
}

.user-li:hover {
  cursor: pointer;
  color: #32526e;
}

#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  padding-left:35px;
  padding-right:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#3c3c3c;
  font-weight:500;
  font-size: 25px;
  border-radius: 0;
  line-height: 28px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #41c3ac;
  box-shadow: 0;
  color: #32526e;
  outline: none;

}

.focused{
  color: #32526e;
}


textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: #41c3ac;
  outline: none;
}

#register-btn{
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #41c3ac;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#register-btn:hover{
  background-color: rgba(0,0,0,0);
  color: #ff884d;
}

#create-acct-btn {
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #41c3ac;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#create-acct-btn:hover {
  background-color: rgba(0,0,0,0);
  color: #ff884d;
}
  
.submit {
  margin-top: 20px;
} 

.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/*modal view*/

#account-modal {
  position: fixed;
  background-color: white;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
/*  background: #32526e;*/
  background: url('http://greatmomentsinparenting.com/wp-content/uploads/2013/09/iStock_000025759519Medium.jpg')center fixed;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 60px;
}

#modal-header {
  width: 100%;
  height: 46px;
  position: fixed;
  top:0;
  z-index: 1;
}

#modal-logo {
  float: left;
  color: #32526e;
  font-size: 24px;
  padding: 10px 15px;
}

#account-wrapper {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  background-color: #41c3ac;
  width: 700px;
  height: 300px;
  margin-top: 20px;
  left: 50%;
  margin-left: -350px;
}

#create-account-wrapper {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  background-color: #41c3ac;
  width: 600px;
  height: 500px;
  left: 50%;
  margin-left: -300px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #32526e;
}

.one-half {
  width:40%;
  height: 75%;
  float: left;
  padding: 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.one-half-last {
  width: 48%;
  height: 75%;
  float: right;
  padding: 0 26px;
  border-left: 3px solid #fff;
}